* {
    padding: 0px;
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0D1321;
    color: #E6E6E6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
}

header .logo a{
    font-weight: bold;
    font-size: clamp(1.5rem, 6vw, 3rem);
    color: #E6E6E6;
    padding-left: 2vw;
    text-decoration: none;
}

header nav ul {
    display: flex;
    gap: 5vw;
    list-style-type: none;
    padding-right: 2vw;
}

nav a {
    color: #E6E6E6;
    text-decoration: none;
}
nav a::after {
    content: "";
    display: block;
    background-color: white;
    width: 0;
    height: 2px;
    margin-top: 10px;
    transition: 0.5s ease-out;
}
nav a:hover::after {
    width: 100%;
}

#clock {
    display: flex;
    justify-content: center;
    font-size: clamp(4rem, 20vw, 8rem);
    font-weight: bold;
}

.time {
    width: 50%;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
}

.section {
    flex: 1;
    padding: 1rem;
}

.divider {
    width: 5px;
    background-color: #3C465E;
}

.gamebox {
    background-color: #1A1F2B;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    flex: 1;
}

.game {
    max-height: 400px;
}