* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0D1321;
    color: #E6E6E6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-weight: bold;
    font-size: 5vw;
    padding-left: 2vw;
}

header nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-right: 2vw;
}

#clock {
    display: flex;
    justify-content: center;
    font-size: 20vw;
    font-weight: bold;
}

.time {
    width: 50%;
    display: flex;
    justify-content: center;
}
