* {
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0D1321;
    color: #E6E6E6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom-width: 20px;
    margin: 0;
    background-color: #121B2E;
}

header .logo {
    font-weight: bold;
    font-size: 50px;
    padding-left: 30px;
}

header nav ul{
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-right: 30px;
}
